*{
    margin: 0;
    padding:0;
    border: 0;
}

.khoi-do{
    width: 300px;
    height: 300px;
    margin: 30px;
    background-color: red;
    position: relative;/*làm mốc*/
}

.khoi-den{
    width: 300px;
    height: 100px;
    background-color: #0000005e;
    /* định vị trí theo khối đỏ*/
    position: absolute;
    bottom: 0px ;
    left: 0px;
}
.khoi-tong{
    width: 275px;
    height: 250px;
    padding-right: 15px;
}


.noi-dung{
    width: 260px;
    height: 195px;
    position: relative;/*làm mốc*/
}

.noi-dung img{
    width: 260px;
    height: 195px;
}

.noi-dung a{
    width: 260px;
    font-size: 20px;
    padding-left: 30px;
    display: block;
    color: white;
    text-align: center;
    background-color: #0000005e;
    text-transform: uppercase;/* viết hoa*/
    /* định vị trí theo hình*/
    position: absolute;
    bottom: 0px;
    left: 0px;
}
